.dinosaur {
    --bg-color: #ff7e7e !important;
    --font-color: #ededed !important;
    --hl-color: #5ac386 !important;
    --fg-color: #9372ff !important;
}

.forest {
    --bg-color: #2d2424 !important;
    --font-color: #e0c097 !important;
    --hl-color: #255539 !important;
    --fg-color: #5c3d2e !important;
}

.neutrals {
    --bg-color: #fffed3 !important;
    --font-color: #443030 !important;
    --hl-color: #aa977f !important;
    --fg-color: #ffffff !important;
}

.ocean {
    --bg-color: #dddddd !important;
    --font-color: #125d98 !important;
    --hl-color: #f5a962 !important;
    --fg-color: #3c8dad !important;
}

.desert {
    --bg-color: #fffdb5 !important;
    --font-color: #204018 !important;
    --hl-color: #ffb52a !important;
    --fg-color: #ff8181 !important;
}
